<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>


<%= @question.question_therm %>
<%= @question.correct_answer %>

<br>
<% @question.answers.each do |a| %>
  <%= a.correct %><%= a.player_id %>
<br>
<% end %>
<br>

<%= form_for([ @question, @question.answers.build ]) do |f| %>
<%= f.hidden_field :result, { :value => "UiUiUi" } %>
<% @answers.each do |a| %>
<%= f.radio_button :guess , a  %> <%= a %>
<% end %>

<%= f.check_box :correct %><br>
<%= f.submit %><br>
<% end %>

<br>
<%= link_to "Back", questions_path %>
