<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

ID<%= @player.id %> is
<%= @player.name %><br>
<%= @player.challengers.to_s %><br>
<%= @player.opponents.to_s %><br>
<%= @duels %><br>
<%= @question_feed %><br>
<%= @questions %>
<%= @question.question_therm %>
<%= link_to "Show", question_path( :question_id => @question.id , :player_id => @player.id) %>




<br>
<%= @player.answers %>
<br>
<%= @player.questions %>
<br>
<%= link_to 'Back', players_path %>
