<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

ID<%= @player.id %> is
<%= @player.name %><br>
<%= @question_feed %><br>
<%= @questions %>
<%= @question.question_therm %>
<%= link_to "Show", question_path( :question_id => 1) %>




<br>
<%= @player.answers %>
<br>
<%= @player.questions %>
<br>
<%= link_to 'Back', players_path %>
