<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

ID<%= @player.id %> is
<%= @player.name %><br>
<%= @questions %>
<%= @question.question_therm %>
<%= link_to "Show answer", player_question_path(@player, @question) %>




<br>
<%= @player.answers %>
<br>
<%= @player.questions %>
<br>
<%= link_to 'Back', players_path %>
