<h1>Players#show</h1>
<p>Find me in app/views/players/show.html.erb</p>

ID<%= @player.id %> is
<%= @player.name %><br>
<%= @question_feed.to_s %>
<br>
<%= @questions %>
<%= @question.question_therm %>
<%= link_to "Show answer", question_path(@question) %>
<br>
<%= link_to 'Back', players_path %>
