<h1>Matches#new</h1>
<p>Find me in app/views/matches/new.html.erb</p>


<%= form_for :match do |f| %>

<% @players.each do |p| %>
<%= p.name %><br>
<% end %>
<%= f.collection_select( :players, @players, :id,  :name ) %>

<% @questions.each do |q| %>
<%= q.question_therm %><br>
<% end %>
<%= f.collection_select( :questions, @questions, :id, :question_therm ) %>

<%= f.submit "Create" %>
<% end %>
